@import "bootstrap.min.css";
@import "https://puneetgopinath.github.io/Sanitizers/css/main.css";
label {
  padding-top: calc(0.375rem + 1px);
  padding-bottom: calc(0.375rem + 1px);
  margin-bottom: 0;
  font-size: auto;
  line-height: 1.5;
  font-family: Courier New;
  padding: 0.75rem 0.25rem;
}
input {
  font-family: Comic Sans MS, Courier;
  font-weight: bold;
  height: 14px;
}
input[type="text"], input[type="email"], input[type="password"] {
  font-weight: bold;
  font-size: x-large;
  width: 100%;
  height: 20px !important;
  padding: 12px 20px !important;
  margin: 10px 0;
  background-color: #f8f9fa;
  transition: width 0.4s ease-in-out;
}
input[type="checkbox"] {
  -webkit-writing-mode: horizontal-tb !important;
  text-rendering: auto;
  -webkit-rtl-ordering: logical;
}
input {
  line-height: 40%;
  padding: 3px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  -khtml-border-radius: 8px;
  border-radius: 8px;
}
input:focus {
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  -khtml-border-radius: 20px;
  border-radius: 20px;
}
[type="submit"], [type="button"], [type="reset"] {
  font-size: auto;
  font-family: Comic Sans MS;
}
[type="submit"] {
  width: 50%;
  height: 4rem;
}
